
#mapview{
	width:100%;
	height: 200px;
	background: aqua;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

