body, html{
    background: #F1F1F1;
    height: 100%;
}

#wrap { 
    min-height : 100%;
    height     : auto !important;
    height     : 100%;
    margin     : 0 auto -60px;
}

.header {
    background-color : #F1F1F1;
    z-index          : 2;
}

.title {
    font-size   : 6em;
    font-family : 'Josefin Slab', serif;
}

.footer {
    height           : 60px;
    background-color : #5C4E4E;
    color            : white;
    font-size        : 2em;
    font-family      : 'Josefin Slab', serif;
    padding-top      : 12px;
    text-align       : right;
}

.footer img {
    width        : 40px;
    margin-right : 10px;
}

.pyk-news-discovery {
    padding-bottom: 80px;
}

.pyk-news-discovery #grid{
    margin      : 0;
    padding     : 0;
    text-indent : 0;
    margin-left : 10px;
    margin-top  : 20px;
}

.pyk-news-discovery #grid li{
    //margin        : 3px;
    padding       : 0;
    text-indent   : 0;
    float         : left;
    display       : block;
    width         : 137.5px;
    height        : 180px;
    overflow      : hidden;
    background    : #fff;
    text-align    : center;
}

.pyk-news-discovery #grid li:hover {
    transition: all 0.25s ease;
    box-shadow: 0px 3px 0px #A6D151;
}

.pyk-news-discovery #grid li a {
    display: block;
    width: 137.5px;
    height: 180px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    transition: all 0.3s ease;
    border-radius: 0;
    border: 0px;
}

.pyk-news-discovery #grid li a:hover {
    //background: #DDFF99;
    transition: all 0.3s ease;
}

.pyk-news-discovery .tag-holder > div{
    height: 300px;
    overflow: hidden;
    background: #fff;
    padding: 3px;
    width: 260px;
    box-shadow: 4px 4px 0px rgba(171,171,171, .6);
    border: 1px solid rgba(171,171,171, .6);
    margin: 10px;
}

.pyk-news-discovery .tag-holder > div div{
    height: 250px;
    overflow-y: auto;
}

.pyk-news-discovery .tag-holder > div h4{
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.pyk-news-discovery .tag-list{
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
}

.pyk-news-discovery .tag-list li{
    font-size: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: #fff;

    transition: all 0.3s ease;
}


.pyk-news-discovery .tag-list li:hover{
    background: #EEFFCC;
    transition: all 0.3s ease;
}


.pyk-news-discovery .tag-list li.active{
    background: #DDFF99;
    transition: all 0.3s ease;
}


.pyk-news-discovery .tag-list li a{
    color: #666;
}

.pyk-news-discovery .tag-list li a:hover{
    text-decoration: none;
}

.pyk-news-discovery .tag-list li a span.badge{
    background: transparent;
    font-weight: 200;
    color: #999;
    float: right;
}